.navbar-default{
	height: 99px;
	background-color: brown;
}

.hm-black-strong{
	background-color: brown;
	height: 900px;
}


.footer{
	background-color: brown;
}

.text-content{
	background-color:brown;
	color: white;
}

